@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("http://fonts.cdnfonts.com/css/akzidenz-grotesk-next");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
body {
  font-family: PT Sans;
  min-width: 1130px;
  background-color: #f5f0b8;
}

h1, span, p, h2, h3, h4, h5, h6:hover {
  cursor: default;
}

.container {
  max-width: 870px;
  margin: 45px auto;
  position: relative;
}

.header-top {
  display: flex;
}

.header-top-lang .header-top-lang__item {
  color: #000;
  padding: 0 4px;
  margin-right: 10px;
  font-family: Bebas Neue;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000;
}
.header-top-lang .header-top-lang__item:hover {
  background-color: #000;
  color: #fff;
}

.header-top-link {
  margin-left: 71.5%;
}
.header-top-link .header-top-link-item {
  font-family: PT Sans;
  font-size: 17px;
  line-height: 25px;
  font-weight: 600;
  padding: 0 4px;
  text-transform: uppercase;
  color: #000000;
}
.header-top-link a:hover {
  background-color: #000;
  color: #fff;
}

.header-bottom {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 17px;
}

.header-bottom-menu__link1 {
  padding-right: 30px;
  color: #000;
}
.header-bottom-menu__link2 {
  padding-left: 30px;
  color: #000;
}

.header-bottom-menu-list a:hover {
  color: #c79800;
}

.header-logo {
  margin-top: -60px;
  font-style: italic;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1em;
  color: #000000;
}
.header-logo:hover {
  cursor: pointer;
}

.logo-text {
  display: block;
  text-align: center;
}

.logo-img {
  display: block;
  margin: 15px 0;
}

.content_1 {
  box-shadow: 0px -3px 50px -8px rgba(0, 0, 0, 0.4);
  background-color: #000;
  color: #ffffff;
  border-top-right-radius: 50px;
}

.private {
  display: flex;
  height: 400px;
}

.private_img {
  background: url("../img/blok_1.png") 0 0 no-repeat;
  width: 50%;
}

.private_body {
  display: inline-block;
  padding: 50px 30px;
  text-transform: uppercase;
  margin: auto 4%;
}
.private_body h1 {
  font-family: "Akzidenz-Grotesk Next", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
  color: #c79800;
}
.private_body p {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 50px;
}
.private_body a {
  display: inline-block;
  width: 190px;
  font-weight: 700;
  text-align: center;
  padding: 15px 40px;
  color: #fff;
}
.private_body a:hover {
  color: #c79800;
}
.private_body #a_white {
  background-color: #fff;
  color: #000;
  border-radius: 20px;
}
.private_body #a_white:hover {
  background-color: #c79800;
}

.content_2 {
  background-color: #000;
}
.content_2 .bg_black {
  background-color: #ebdeff;
  margin: auto;
  padding: 120px 0;
  border-top-right-radius: 50px;
}

.products {
  display: flex;
  justify-content: center;
}

.products_item {
  margin: 0 auto;
  width: 230px;
}
.products_item h3 {
  font-family: "Akzidenz-Grotesk Next", sans-serif;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
  padding-bottom: 30px;
}
.products_item p {
  font-family: PT Sans;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
  padding-bottom: 30px;
}
.products_item .a_button {
  display: block;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 18px 0;
  margin-bottom: 2px;
  text-align: center;
  width: 80%;
  background-color: #000;
  margin-bottom: 15px;
  border-radius: 5px;
}
.products_item .a_button:hover {
  color: #fff;
  background-color: #c79800;
}
.products_item .a_link {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
}
.products_item .a_link:hover {
  color: #c79800;
  border-color: #c79800;
}

.column_img {
  display: inline-block;
  margin-bottom: 30px;
  border-radius: 10px;
}

.content_3 {
  background-color: #ebdeff;
}
.content_3 .bg_black_1 {
  background-color: #000;
  display: flex;
  justify-content: space-between;
}

.content_3_text {
  width: 50%;
}
.content_3_text h4 {
  text-align: right;
  padding-right: 30px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4%;
  color: #ffffff;
  margin: 50px 0;
}

.content_3_img {
  background: url("../img/content_img_3.png") 50% 0 no-repeat;
  width: 50%;
}

.content_4 {
  background-color: #000;
}
.content_4:hover {
  cursor: default;
}
.content_4 .bg_black_2 {
  background-color: #f5f0b8;
  border-top-left-radius: 50px;
  padding: 120px 210px;
  display: flex;
  justify-content: center;
}
.content_4 .content_4_column {
  width: 400px;
  height: 100px;
  margin-bottom: 80px;
}
.content_4 .number {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 30px;
  margin-right: 15px;
  font-weight: 700;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.5);
}
.content_4 .content_4_title {
  display: inline-block;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
}
.content_4 .content_4_text {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  padding-top: 15px;
  color: #000000;
}
.content_5 {
  background-color: #ebdeff;
  padding: 120px 0;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
}
.content_5 .wrap_5 {
  margin: 0 auto;
  width: 65%;
}
.content_5 h4 {
  font-size: 40px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 60px;
}
.content_5 p {
  padding-left: 30px;
}
.content_5 .gps {
  background: url("../img/gps.png") 0 0 no-repeat;
  background-size: contain;
}
.content_5 .mail {
  background: url("../img/mail.png") 0 3px no-repeat;
  padding-left: 36px;
}
.content_5 .phone {
  background: url("../img/phone.png") 0 0 no-repeat;
  background-size: contain;
}

.content_5_row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.content_5_row2 {
  display: flex;
  justify-content: space-between;
}

.social_img a {
  padding-left: 26px;
}

.content_6 {
  background-color: #ebdeff;
  color: #fff;
  display: flex;
}
.content_6 .map {
  height: 100%;
}
.content_6 .bgclrblck {
  background-color: #000;
  border-top-right-radius: 50px;
}

.wrap_6 {
  margin: 100px 10% 60px 10%;
}
.wrap_6 h4 {
  font-size: 40px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding-bottom: 50px;
}

.form_body input, .form_body textarea {
  color: white;
  margin-bottom: 30px;
  padding: 10px 20px 10px 9px;
  width: 450px;
  background-color: #262626;
  border: 2px solid #959595;
  border-radius: 5px;
}
.form_body textarea {
  height: 100px;
  resize: none;
}
.form_body .form_button {
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
}
.form_body .form_button:hover {
  background-color: #c79800;
}

.footer {
  padding: 60px 0;
}

.footer_wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 65%;
}
.footer_wrap p {
  padding-top: 25px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #4d4d4d;
}